<%- include('./doctype.ejs'); %>

  <title>AuthFlow · Home</title>
  <style>
    <%- include('../static/css/base.css'); %>
    <%- include('../static/css/home.css'); %>
  </style>

<%- include('./base-header.ejs'); %>

  <main>
    <div id='hero'>
      <h1> AuthFlow </h1>
      <p>Online</p>
    </div>

    <nav>
      <ul>
        <li><a class="link" href="#">Terms</a></li>
        <li><a class="link" href="#">Privacity</a></li>
        <li><a class="link" href="#">Security</a></li>
        <li><a class="link" href="#">Contact</a></li>
      </ul>
    </nav>
  </main>

<%- include('./base-footer.ejs'); %>
